APP_NAME=Next Shadcn Tailwind
APP_ENV=development
NODE_ENV=development

NEXT_PUBLIC_BACKEND_URL=
NEXT_PUBLIC_API_URL=$NEXT_PUBLIC_BACKEND_URL
NEXT_PUBLIC_API_TOKEN=
NEXTAUTH_SECRET=7UPuxhBIeZUbBpmaqgindGnQZupPIQRut8iKZyApJ6U

